<h1>List post</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center align-middle" scope="col">Id</th>
            <th class="text-center align-middle" scope="col">Post</th>
            <th class="text-center align-middle" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= 'let post of posts'>
            <th class="text-center align-middle" scope="row">{{post.id}}</th>
            <td class="text-center align-middle">{{post.body}}</td>
            <td class="text-center align-middle"><a routerLink="/post/{{post.id}}"><button class="btn btn-outline-primary">Ver</button></a></td>
        </tr>
    </tbody>
</table>
