section {
    border: 2px solid rgb(33, 34, 32);
    border-radius: 5px;
    div{
        text-overflow: clip;
        p {
            word-wrap: break-word;
            margin-bottom: 2px;
        }
        p:last-child {
            margin-bottom: 2rem;
        }
    }
    
}

.add-button {
    display: flex;
    width: 100%;
    justify-content: center;
}

fieldset {    
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(33, 34, 32);
    border-radius: 5px;
    align-items: center;
    input {
        width: 98%;
    }
    textarea {
        width: 98%;
    }
    
}


button {
    box-shadow: 5px 5px rgb(83, 84, 85);
}
