<section *ngIf="comments.length > 0">
    <h3 class="text-center">Comentarios</h3>
    <div class="px-3 row align-items-center" *ngFor="let comment of comments, let i = index">
    <div class="col-11">
        <p><span class="fw-bold">Nombre:</span>{{comment.name}}</p>
        <p><span class="fw-bold">Email:</span>{{comment.email}}</p>
        <p><span class="fw-bold">Comentario:</span>{{comment.body}}</p>
    </div>
    <div *ngIf="comment.date" class="col-1">
        <button (click)='deleteComment(i)' class="btn btn-danger">
            <svg style='height: 20px; width: 20px; color:#0c0c0c' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>
    </div>
    </div>
    <div class="d-flex justify-content-center">
        <button (click)="emitData()" [disabled]="!lastCommentDate()" class="btn btn-outline-primary my-3 px-5">
            Emitir
        </button>
    </div>
</section>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="my-3" autocomplete="off">
    <fieldset>
        <legend class="mt-3 ms-4">Nuevo Comentario</legend>
        <input class="form-control mt-3 mb-1" formControlName="name"  placeholder="nombre" type="text"
        [ngClass]="{'is-invalid':invalid('name'), 'is-valid':valid('name')}"/>
        <span class='form-text text-start text-danger' *ngIf='invalid("name")'>
            {{form.controls['name'].errors?.['required'] && 'Es campo requerido'}}
            {{form.controls['name'].errors?.['minlength'] && 'Agregar mas campos al nombre'}}
        </span>
        <input class="form-control mt-3 mb-1" formControlName="email" placeholder="info@mobydigital.com" type="email"
        [ngClass]="{'is-invalid':invalid('email'), 'is-valid':valid('email')}"/>
        <span class='form-text text-start text-danger' *ngIf='invalid("email")'>
            {{form.controls['email'].errors?.['required'] && 'Es campo requerido'}}
            {{form.controls['email'].errors?.['email'] && 'El email ingresado no es valido'}}
        </span>
        <textarea class="form-control mt-3 mb-1" formControlName="body" placeholder="Agrega tus comentarios aqui" rows="10"
        [ngClass]="{'is-invalid':invalid('body'), 'is-valid':valid('body')}" >
        </textarea>
        <span class='form-text text-start text-danger' *ngIf='invalid("body")'>
            {{form.controls['body'].errors?.['required'] && 'Es campo requerido'}}
            {{form.controls['body'].errors?.['maxlength'] && 'El comentario se excede en caracteres'}}
        </span>
        <div class='add-button'>
            <button class="btn btn-success my-4" [ngClass]="{'btn-danger':form.invalid}" [disabled]="form.invalid">Agregar</button>
        </div>
    </fieldset>
</form>
